body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

.container {
    margin: 0 auto;
    text-align: center;
}

#main-bio #contact-info #bio-image {
    float: left;
}

#bio-image {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    /*width: 200px;*/
    margin-bottom: 10px;
    display:block;
}

#main-bio {
    float:right;
    width: 70%;
}

#contact-info {
    float:left;
    width: 30%;
}

a {
    color: #d21034;
}

li {
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}